
.cart .item-box .item-details .item-image {
    width: 80px;
    height: 80px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 3px;
}
.cart .item-box .item-details .item-link{
    margin-left: 5px;
    text-decoration: none;
}
.one-line-ellipsis, .two-line-ellipsis {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.d-flex {
    display: flex!important;
}
.align-items-center {
    align-items: center!important;
}
.fl-r{
    float: right;
}
.fl-r button{
    background-color: inherit;

}
.cart .cart-body {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 100%;
    background-color: #fff;
}
.cart .item-box {
    padding: 10px;
    margin-bottom: 5px;
    border-bottom: 1px solid #e4e6eb;
}

.cart .item-box .item-details p {
    margin-bottom: 0;
}
.item-box .item-label {
    color: #323232;
    text-transform: capitalize;
}
.cart .item-box .value {
    color: #323232;
    float: right;
}