.App {
  /* text-align: center; */
  background-color: #f8f9fa;
}
.noMarginBot{
  margin-bottom: 0;
}
.Iconstar{
  color: rgb(255, 179, 2);
}
.graylight{
  color: #65676b!important;
}
.transform:hover {
  transition: 100ms transform ease-in;
  transform: scale(1.05)
}
/* test */
